.header {
  display: flex;
  align-items: center;
  height: 8vh;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(26, 24, 24);
}
.header p:first-of-type {
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-display);
}

.nav {
  padding-right: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 5vw, 4rem);
}

.active {
  color: var(--primary-color);
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
